/* .chipchop {
    -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
    mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-clip: text, padding-box;
  mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
.nochip {
    -webkit-mask:
    none;
    mask:
    none;
  -webkit-mask-clip: none;
  mask-clip: none;
  -webkit-mask-composite: none;
          mask-composite: none;
} */

body {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

[data-nextjs-toast-wrapper] {
  background: #2fa9ca !important;
}