.w11-window {
  border-radius: 0px;
  border: 1px solid #ffffff31;
}
.w11-window > .w11-top {
  user-select: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: transparent;
  z-index: 999;
  padding: 10px 16px;
  display: flex;
  height: 12px;
  width: 90%;
  align-items: center;
}
.w11-controls {
  width: 77%;
  height: 100%;
  user-select: none;
}
.w11-controls > div {
  user-select: none;
  float: inherit !important;
  cursor: default !important;
  background: transparent !important;
  margin: 8px 8px;
  position:absolute;
  top: 3px;
  transition: all 0.25s ease;
  width: 15px;
  height: 15px;
  padding: 0px !important;
  border-radius: 50%;
}
.w11-controls > div.end {
  right:5px;
  border-top-right-radius: 50% !important;
  background: #2777ff !important;
}
.w11-controls > div.mid {
  right:25px;
  background: #363b49 !important;
}
.w11-controls > div.left {
  right:45px;
  background: #363b49 !important;
}
.w11-controls > div > img {
  display: none;
}
.w11-content {
  /* margin-top: 40px; */
  height: calc(100% - 18px);
  overflow:scroll;
}

html, body {
  font-family: 'SF Pro', 'SF Compact', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif !important;
}

#taskbar {
    height: 35px !important;
    left: 0px !important;
    top: 0px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 3px !important;
    backdrop-filter: blur(100px) !important;
    border-bottom: 1px solid black;
}
#taskbar::after {
  position: absolute !important;
  top: 36px;
  left: 0px;
  width: 100%;
  height: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0) 100%);
  filter: blur(8px);
  user-select: none;
  content: "";
}
.w11-taskbar-app > img {
  width: 100% !important;
  height: 100% !important;
}
.w11-taskbar-app {
  padding: 0 !important;
  position: relative !important;
  width: 30px !important;
  height: 30px !important;
}
.w11-taskbar-app:hover > img {
  filter: brightness(0.8);
}
.w11-taskbar-app.active, .w11-taskbar-app.current {
  background: transparent !important;
}
.w11-taskbar-app.active::after {
  bottom: -2px;
  left: calc(50% - 4px);
  width: 4px;
  height: 4px;
}
.w11-rightside {
    display: none !important;
}