@import url(https://www.apple.com/wss/fonts?family=SF+Pro&v=2);
@import url(https://www.apple.com/wss/fonts?family=SF+Compact&v=2);

:root {
  --fontFamilyBase: 'SF Pro', 'SF Compact', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif !important;
}
.w11-window {
  border-radius: 8px;
  border: 1px solid #ffffff50;
}
.w11-window > .w11-top {
  user-select: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* background: rgba(43,43,43,0.4); */
  background: transparent;
  z-index: 999;
  padding: 10px 16px;
  display: flex;
  height: 12px;
  width: 90%;
  align-items: center;
}
.w11-controls {
  width: 77%;
  height: 100%;
  user-select: none;
}
.w11-controls > div {
  user-select: none;
  float: inherit !important;
  cursor: default !important;
  background: transparent !important;
  margin: 8px 8px;
  position:absolute;
  top: 3px;
  transition: all 0.25s ease;
  width: 10px;
  height: 10px;
  padding: 0px !important;
  border-radius: 50%;
}
.w11-controls > div.end {
  left:5px;
  border-top-right-radius: 50% !important;
  background: red !important;
}
.w11-controls > div.mid {
  left:35px;
  background: lime !important;
}
.w11-controls > div.left {
  left:20px;
  background: yellow !important;
}
.w11-controls > div > img {
  display: none;
}
.w11-title {
  left: 60px;
  position: absolute;
}
.w11-content {
  /* margin-top: 40px; */
  height: calc(100% - 18px);
  overflow:scroll;
}

html, body {
  font-family: 'SF Pro', 'SF Compact', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif !important;
}

#taskbar {
  bottom: 5px !important;
  width: calc(100% - 20px) !important;
  padding: 0 3px !important;
  margin-left: 10px !important;
  border-radius: 15px !important;
  backdrop-filter: url(#blur-150) !important;
  border: 1px solid #ffffff1c !important;
}
.mac-only {
  display: block;
}
.windows-only-flex {
  display: none;
}
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(10000px);
  padding: 5px;
  background: #00000050;
}
.w11-taskbar-app > img {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  transition: all 0.2s ease;
  transform-origin: bottom center; /* Ensure the scaling happens from the bottom edge */
}
.w11-taskbar-app {
  padding: 0 !important;
  position: relative !important;
  width: 40px !important;
  margin: 0px !important;
  height: 40px !important;
}
.w11-taskbar-app:hover > span {
  display: block !important;
  position: absolute !important;
  z-index: 999;
  bottom: -10px;
}
.w11-taskbar-app:hover {
  background: transparent !important;
}
.w11-taskbar-app.active, .w11-taskbar-app.current {
  background: transparent !important;
}
.w11-taskbar-app.active::after {
  bottom: -2px;
  left: calc(50% - 4px);
  width: 4px;
  height: 4px;
}
.macicon:hover {
  filter: brightness(0.8);
  cursor: pointer;
}