.w11-window {
  border-radius: 0px;
  border: 1px solid #ffffff50;
}
.w11-window > .w11-top {
  user-select: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: transparent;
  z-index: 999;
  padding: 10px 16px;
  display: flex;
  height: 12px;
  width: 90%;
  align-items: center;
}
.w11-controls {
  width: 77%;
  height: 100%;
  user-select: none;
}
.w11-controls > div {
  user-select: none;
  float: inherit !important;
  cursor: default !important;
  background: transparent !important;
  margin: 8px 8px;
  position:absolute;
  top: 3px;
  transition: all 0.25s ease;
  width: 10px;
  height: 10px;
  padding: 0px !important;
  border-radius: 50%;
}
.w11-controls > div.end {
  left:5px;
  border-top-right-radius: 50% !important;
  background: red !important;
}
.w11-controls > div.mid {
  left:20px;
  background: yellow !important;
}
.w11-controls > div.left {
  left:35px;
  background: lime !important;
}
.w11-controls > div > img {
  display: none;
}
.w11-title {
  left: 60px;
  position: absolute;
}
.w11-content {
  /* margin-top: 40px; */
  height: calc(100% - 18px);
  overflow:scroll;
}

html, body {
  font-family: 'SF Pro', 'SF Compact', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif !important;
}

#taskbar {
    height: 100vh !important;
    left: 0px !important;
    width: 65px !important;
    flex-direction: column !important;
    gap: 10px !important;
}
.w11-taskbar-app > img {
  width: 100% !important;
  height: 100% !important;
}
.w11-taskbar-app {
  padding: 0 !important;
  position: relative !important;
  width: 40px !important;
  height: 40px !important;
}
.w11-taskbar-app:hover > img {
  filter: brightness(0.8);
  position:absolute;
  scale:1.1;
}
.w11-taskbar-app:hover {
  background: transparent !important;
}
.w11-taskbar-app.active, .w11-taskbar-app.current {
  background: transparent !important;
}
.w11-taskbar-app.active::after {
  bottom: -2px;
  left: calc(50% - 4px);
  width: 4px;
  height: 4px;
}
.w11-rightside {
    display: none !important;
}